# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IDEs
.idea/
*.iws
*.iml
*.ipr
.vscode/
.settings/
.project
.classpath

# Logs
*.log
logs/
scripts/

# OS
.DS_Store
Thumbs.db
